name: CI
on: 
  push:
    paths-ignore:
      # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
      - "docs/**"
      - '**.md'
      - '**.txt'
      - '!CMakeLists.txt'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - "docs/**"
      - '**.md'
      - '**.txt'
      - '!CMakeLists.txt'
      - 'LICENSE'
jobs:
  build:
    name: Build
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target: [wincurl-win64,wincurl-arm64]
        include:
          - target: wincurl-win64
            short_target: win64
          - target: wincurl-arm64
            short_target: arm64
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: compile-wincurl
        shell: cmd
        env:
          wincurl_target: ${{ matrix.wincurl_target }}
          msvc_arch: ${{ matrix.msvc_arch }}
          build_dir: ${{ matrix.build_dir }}
        run: pwsh -NoProfile -NoLogo -ExecutionPolicy unrestricted -File "./build.ps1" -Target "${{ matrix.short_target }}"
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.target }}
          path: destination/*
      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          file_glob: true
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: destination/*
          tag: ${{ github.ref }}
          overwrite: true
